:root {
    --font-primary: 'Bahnschrift', sans-serif;
    --font-secondary: 'Lato', sans-serif;
    --xr-red: #e61a31;
    --xr-purple: #661556;
    --xr-cool-red: #a52256;
    --xr-indigo: #4d1798;
    --xr-gradient: linear-gradient(-45deg, var(--xr-red), var(--xr-cool-red), var(--xr-purple), var(--xr-indigo));
    --background-color: #000000;
    --text-color: #ffffff;
    --discord-blue: #5865F2;
}