.lab-gk-root {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: #111111;
    color: white;
    overflow: hidden;
}

.lab-gk-root .scanner-bar {
    flex: 1;
}

.lab-screen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.lab-info {
    flex: 1;
}

.lab-rules {
    margin-top: 48px;
}

.lab-header {
    position: relative;
    display: flex;
    background-color: #222222;
    border: 0;
    border-bottom: 0px;
    border-style: solid;
    border-color: #111111;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    filter: drop-shadow(0px 5px 10px #000000);
    z-index: 1;
}

.lab-status-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.lab-open-status {
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.lab-open {
    background: linear-gradient(90deg, green, darkgreen);
}

.lab-closed {
    background-color:#333333;
}

.lab-header h1 {
    font-size: 3em;
    line-height: 100%;
}

.lab-member-count {
    background-color: #333333;
    height: 50px;
    width: 50px;
    border-radius: 1000px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display:flex;
    font-size: large;
}

.lab-time {
    font-size: 3em;
    line-height: 100%;
}

.lab-date {
    color:gray;
    font-size: 1.5em;
    line-height: 100%;
}

.lab-member-count *{
    margin: 0;
}

.lab-gk-root h2 {
    margin: 0;
    font-size: 3em;
    line-height: 100%;
}

/* .lab-gk-root h3 {
    font-size: 2em;
    margin-bottom: 8px;
} */

.lab-welcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-top: 16pxg;
}

.lab-rules-group {
    display: flex;
    text-align: center;
    font-size: 2em;
    max-height: 35vh;
    gap: 2%
}

.lab-rules-group > .gradient-card {
    width: 25%;
    display: flex;
}

.lab-rules-group img {
    max-height: 35%;
    margin: 6%;
}

#lab-title {
    margin: 16px;
}