.compact-scanner-result {
  position: absolute;
  top: -200%;
  display: flex;
  width: 300px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: opacity, top, transform;
  transform: scale(0);
}

.compact-scanner-result-showing {
  top: calc(100% + 32px);
  opacity: 1;
  transform: scale(1);
}

.compact-scanner-result-icon {
  width: 150px;
  height: 150px;
  filter: invert(1);
}

.compact-scanner-result-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 32px;
  min-width: 250px;
  text-align: center;
  white-space: pre-wrap;
  filter: drop-shadow(0px 5px 10px #000000);
}

.compact-scanner-result-processing {
  background: linear-gradient(
    0deg,
    rgba(173, 85, 0, 1) 0%,
    rgba(255, 155, 0, 1) 100%
  );
}

.compact-scanner-result-success {
  background: linear-gradient(
    0deg,
    rgba(24, 122, 52, 1) 0%,
    rgba(106, 218, 76, 1) 100%
  );
}

.compact-scanner-result-error {
  background: linear-gradient(
    0deg,
    rgba(158, 35, 35, 1) 0%,
    rgba(255, 71, 71, 1) 100%
  );
}
