.scanner-bar {
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* padding: 2%; */
}

.scanner-content {
    height: 100%;
    padding: 8%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.scanner-bar h4 {
    font-size: 4em;
    line-height: 100%;
    margin-bottom: 10%;
}

.scanner-status-bg {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scanner-status-icon {
    width: 125px;
    height: 125px;
}

.scanner-status-icon img {
    height: 100%;
    width: auto;
    fill: white;
    color: white;
    filter: invert(1);
}

.scanner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    font-size: 3em;
}

.scanner-bg {
    border-radius: 16px;
    padding: 16px;
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: stretch;
}

#scanner {
    border-radius: 8px;
    background-color: black;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}
