:root {
    --font-primary: 'Bahnschrift', sans-serif;
    --font-secondary: 'Lato', sans-serif;
    --xr-red: #e61a31;
    --xr-purple: #661556;
    --xr-cool-red: #a52256;
    --xr-indigo: #4d1798;
    --background-color: #000000;
    --text-color: #ffffff;
    --discord-blue: #5865F2;
}

.scanner-bar {
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 20%;
    width: 20%;
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.xrc-gradient {
    animation: gradient 2s ease infinite;
    background: linear-gradient(-45deg, var(--xr-red), var(--xr-cool-red), var(--xr-purple), var(--xr-indigo));
}

.scanner-content {
    height: 100%;
    padding: 8%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
}

.scanner-bar h4 {
    font-size: 4em;
    line-height: 100%;
    margin-bottom: 10%;
}

.scanner-status-bg {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scanner-status-icon {
    width: 125px;
    height: 125px;
}

.scanner-status-icon img {
    height: 100%;
    width: auto;
    fill: white;
    color: white;
    filter: invert(1);
}

.scanner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    font-size: 3em;
}

.scanner-bg {
    border-radius: 16px;
    padding: 16px;
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: stretch;
}

#scanner {
    border-radius: 8px;
    background-color: black;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}
