@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-card {
    animation: gradient 2s ease infinite;
    background: var(--xr-gradient);
    border-radius: 16px;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    display: flex;
    filter: drop-shadow(0px 3px 6px #00000022);
    overflow: hidden;
}